<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <div class="navbar">
    <div class="menu-accommodation">
      <div class="menu-icon">&#9776;</div>
      <a href="#" class="menu-link">Noclegi Stargard</a>
    </div>
    <ul class="menu-links">
      <li><a href="#" class="menu-link"><i class="fa-solid fa-rectangle-list"></i>Poproś o wycenę</a></li>
      <li><a href="#" class="menu-link"><i class="fa-solid fa-phone"></i>Zadzwoń teraz</a></li>
      <li><a href="#" class="menu-link"><i class="fa-solid fa-diamond-turn-right"></i>Wyznacz trasę</a></li>
    </ul>
  </div>
  <div class="main-content">
    <div class="accommodation-info">
      <h1 class="main-heading">Noclegi Stargard</h1>
      <p class="sub-heading">Noclegi ze śniadaniem w Stargardzie</p>
      <p class="sub-heading">Całodobowy</p>
      <p class="sub-heading">Ceny już od 50 zł!</p>
      <p class="sub-heading">Duży monitorowany parking!</p>
      <div class="quote-button-container">
        <button class="quote-button">Poproś o wycenę</button>
      </div>
    </div>
    <div class="image-container">
      <source media="(max-width: 480px)" srcset="https://www.gstatic.com/bfe/apps/website/img/h/105462143-bed-towels-1440.jpg">
      <source media="(min-width: 481px) and (max-width: 768px)" srcset="https://www.gstatic.com/bfe/apps/website/img/h/105462143-bed-towels-1440.jpg">
      <img src="https://www.gstatic.com/bfe/apps/website/img/h/105462143-bed-towels-1440.jpg" class="responsive-image" width="1080">
    </div>
  </div>
</body>
