<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <div class="navbar">
    <div class="menu-accommodation">
      <div class="menu-icon" (click)="toggleSideMenu()" #hamburgerMenu>&#9776;</div>
      <a href="#" class="menu-link">Noclegi pracownicze Stargard
      </a>
    </div>
    <ul class="menu-links">
      <li><a href="tel:+48-516-628-015" class="menu-link"><i class="fa-solid fa-phone"></i>Zadzwoń teraz</a></li>
      <li><a (click)="getRoute()" class="menu-link"><i class="fa-solid fa-diamond-turn-right"></i>Wyznacz trasę</a></li>
    </ul>
  </div>
  <div class="side-menu" #sideMenu>
    <ul>
      <li><a href="#">Aktualności</a></li>
      <li><a href="#">Opinie</a></li>
      <li><a href="#">Galeria</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
  </div>
  <div class="main-content">
    <div class="accommodation-info">
      <h1 class="main-heading">Noclegi pracownicze Stargard</h1>
      <p class="sub-heading">Ceny już od 50 zł!</p>
      <p class="sub-heading">Duży, monitorowany, bezpłatny parking!</p>
    </div>
    <div class="image-container">
      <img src="https://images.pexels.com/photos/8960996/pexels-photo-8960996.jpeg" class="responsive-image" width="1080">
    </div>
    <div class="page-content-container">
      <hr>
      <h2>Galeria</h2>
      <div class="gallery-container">
        <div *ngFor="let filename of imageFilenames" class="gallery-image" (click)="openGalleryImage('assets/images/' + filename)">
          <img src="{{ 'assets/images/' + filename }}">
        </div>
      </div>
    </div>
    <div class="page-content-container">
      <hr>
      <h2>Skontaktuj się z nami!</h2>
      <div class="map-container">
        <iframe
        width="100%"
        height="100%"
        frameborder="0"
        style="border: 0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAaWVB18WyeIOe5HeJp5HxosmHWLufj4kw&q=NOCLEGI+STARGARD+SYLWIA+KREKORA"
        allowfullscreen
      ></iframe>
      </div>
      <div class="contact-details">
        <div class="contact-container">
          <h3>Kontakt</h3>
          <div class="phone-container">
            <button class="contact-button" (click)="makePhoneCall()">Zadzwoń teraz</button>
            <div>516 628 015</div>
          </div>
        </div>
        <div class="contact-container">
          <h3>Adres</h3>
          <div class="address-container">
            <button class="contact-button" (click)="getRoute()">Wyznacz trasę</button>
            <div class="address-details">
              <div>Źródlana 6</div>
              <div>73-110 Stargard</div>
              <div>Polska</div>
            </div>
          </div>
        </div>
        <div class="contact-container">
          <h3>Godziny otwarcia</h3>
          <div class="opening-hours-container">
            <table class="opening-hours">
              <tbody>
                <tr>
                  <th class="day-of-week">pon.:</th>
                  <td>Czynne całą dobę</td>
                </tr>
                <tr>
                  <th class="day-of-week">wt.:</th>
                  <td>Czynne całą dobę</td>
                </tr>
                <tr>
                  <th class="day-of-week">śr.:</th>
                  <td>Czynne całą dobę</td>
                </tr>
                <tr>
                  <th class="day-of-week">czw.:</th>
                  <td>Czynne całą dobę</td>
                </tr>
                <tr>
                  <th class="day-of-week">pt.:</th>
                  <td>Czynne całą dobę</td>
                </tr>
                <tr>
                  <th class="day-of-week">sob.:</th>
                  <td>Czynne całą dobę</td>
                </tr>
                <tr>
                  <th class="day-of-week">niedz.:</th>
                  <td>Czynne całą dobę</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
