<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <div class="navbar">
    <div class="menu-accommodation">
      <div class="menu-icon">&#9776;</div>
      <a href="#" class="menu-link">Noclegi Stargard</a>
    </div>
    <ul class="menu-links">
      <li><a href="#" class="menu-link"><i class="fa-solid fa-rectangle-list"></i>Poproś o wycenę</a></li>
      <li><a href="#" class="menu-link"><i class="fa-solid fa-phone"></i>Zadzwoń teraz</a></li>
      <li><a href="#" class="menu-link"><i class="fa-solid fa-diamond-turn-right"></i>Wyznacz trasę</a></li>
    </ul>
  </div>
</body>
